.content {
    position: relative;
    top: 0;
    margin-left: 0;
    margin-bottom: 30px;
    @include media(m) {
        margin-left: 220px;
    }
    &.normal {
        position: static;
        margin: 0;
    }
    .inContent {
        width: 94%;
        padding-top: 20px;
        margin: 0 auto 2rem auto;
        @include media(m) {
            margin: 0 auto 100px auto;
        }
    }
}
