.mark01 {
  display: block;
  background: transparent;
  border: 1px solid $orange;
  border-radius: 20px;
  padding: 3px 10px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left:6px;
  color: $orange;
  font-size: 0.8rem;
}

.mark02 {
  display: block;
  background: transparent;
  border: 1px solid $main_color;
  border-radius: 20px;
  padding: 3px 10px;
  box-sizing: border-box;
  color: $main_color;
  font-size: 0.8rem;
}

.mark03 {
  background: $orange;
  border: 1px solid $orange;
  border-radius: 20px;
  padding: 3px 8px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left:6px;
  color: #fff;
  font-size: 0.6rem;
}

.mark04 {
  background: #3B8AE4;
  padding: 6px 16px;
  border-radius: 20px;
  color: #fff;
}




