#consultation_booking.content {
    * {
        box-sizing: border-box;
    }
    .inContent {
        width: 96%;
        &__sec1 {
            margin-bottom: 40px;
            padding: 8px 24px;
            .bookingCalendar {
                &__hdr {
                    width: 100%;
                    position: relative;
                    &__name {
                        text-align: left;
                        font-size: 1.2rem;
                        font-weight: bold;
                        padding-right: 90px;
                    }
                    &__date {
                        text-align: left;
                        font-size: 1.2rem;
                        font-weight: bold;

                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &__btn {
                        position: relative;
                        margin-top: 20px;
                        padding-top: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &__link {
                            display: flex;
                            align-items: center;
                        }
                        &__txt {
                            display: block;
                            color: #000;
                            margin: 0 10px;
                            font-size: 0.9rem;
                            font-weight: bold;
                        }
                        &__item {
                            display: block;
                            width: 40px;
                            height: 40px;
                            border: 1px solid #999;
                            position: relative;
                            transition: border 0.3s ease;
                            &::before {
                                content: "";
                                position: absolute;
                                top: 18px;
                                left: 14px;
                                transform: rotate(45deg);
                                transform-origin: left center;
                                display: block;
                                width: 10px;
                                height: 2px;
                                background-color: #999;
                                transition: background-color 0.3s ease;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                top: 19px;
                                left: 14px;
                                transform: rotate(-45deg);
                                transform-origin: left center;
                                display: block;
                                width: 10px;
                                height: 2px;
                                background-color: #999;
                                transition: background-color 0.3s ease;
                            }
                            &.el_right {
                                margin-left: -1px;
                                &::before {
                                    top: 19px;
                                    transform-origin: right center;
                                }
                                &::after {
                                    top: 18px;
                                    transform-origin: right center;
                                }
                            }
                            &.el_off {
                                pointer-events: none;
                                opacity: 0.3;
                            }
                            &:hover {
                                border: 1px solid $link_color;
                                z-index: +1;
                                &::before,
                                &::after {
                                    background-color: $link_color;
                                }
                            }
                        }
                    }
                }
                &__main {
                    background-color: #efefef;
                    width: 100%;
                    padding: 20px;
                    margin-top: 20px;
                    overflow-x: scroll;
                    &__inner {
                        display: flex;
                        margin: 0 auto;
                        width: 980px;
                        &__item {
                            padding: 10px;
                            &__date {
                                &__week {
                                    display: block;
                                    font-size: 1.2rem;
                                    color: #999;
                                }
                                &__day {
                                    display: block;
                                    font-size: 2rem;
                                    font-weight: bold;
                                    margin-top: 5px;
                                }
                            }
                            &__time {
                                margin-top: 15px;
                                &__link {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: #000;
                                    width: 120px;
                                    height: 54px;
                                    background-color: #fff;
                                    margin-bottom: 10px;
                                    border-radius: 3px;
                                    font-size: 1rem;
                                    font-weight: bold;
                                    border: solid 2px $link_color;
                                    transition: 0.3s ease;
                                    transition-property: background-color, color;
                                    &:hover {
                                        opacity: 1;
                                        background-color: $link_color;
                                        color: #fff;
                                    }
                                    &.disabled {
                                        background-image: none;
                                        background-color: #ddd;
                                        border-color: #ddd;
                                        pointer-events: none;
                                        color: #999;
                                        position: relative;
                                        &::before,
                                        &::after {
                                            content: "";
                                            width: 24px;
                                            height: 2px;
                                            background-color: #999;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                        }
                                        &::before {
                                            transform: translate(-50%, -50%)
                                                rotate(45deg);
                                        }
                                        &::after {
                                            transform: translate(-50%, -50%)
                                                rotate(-45deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bookingForm {
                max-width: 768px;
                margin: 0 auto;
                background-color: #fff;
                padding: 40px 20px;
                &__hdr {
                    &__back {
                        display: inline-block;
                        background: #999;
                        color: #fff;
                        padding: 12px 30px;
                        box-sizing: border-box;
                        font-size: 0.9rem;
                        border-radius: 30px;
                        transition: opacity 0.3s ease;
                    }
                }
                &__main {
                    margin-top: 40px;
                    &__date {
                        background-color: #efefef;
                        padding: 20px;
                        &__day {
                            font-weight: bold;
                        }
                        &__time {
                            font-weight: bold;
                            font-size: 1.4rem;
                            margin-top: 10px;
                        }
                    }
                    &__form {
                        margin-top: 40px;
                        &__item {
                            display: flex;
                            flex-direction: column;
                            border-bottom: 1px solid #eaeaea;
                            padding: 30px 0;
                            &:first-child {
                                border-top: 1px solid #eaeaea;
                            }
                            &__label {
                                font-size: 0.8rem;
                                font-weight: bold;

                                width: 100%;
                                margin-right: 0;
                                margin-bottom: 10px;
                            }
                            &__entry {
                                flex: 1;
                            }
                            &__textarea {
                                border: 1px solid #bbb;
                                width: 100%;
                                height: 150px;
                                padding: 10px;
                                line-height: 1.7;
                                font-size: 16px;
                            }
                            &__selectWrap {
                                display: inline-block;
                                position: relative;
                                &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 9px;
                                    width: 0;
                                    height: 0;
                                    border: none;
                                    border-top: 8px solid #000;
                                    border-right: 5px solid transparent;
                                    border-left: 5px solid transparent;
                                }
                            }
                            &__select {
                                border: 1px solid #bbb;
                                width: 100%;
                                padding: 10px;
                                font-size: 16px;
                                z-index: 5;
                            }
                        }
                        &__send {
                            width: 100%;
                            margin-top: 40px;
                            &__btn {
                                display: block;
                                width: 100%;
                                max-width: 480px;
                                min-width: 100px;
                                background: #fd6b00;
                                color: #fff;
                                padding: 18px 30px;
                                border-radius: 30px;
                                margin: 0 auto;
                                transition: opacity 0.3s ease;
                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                }
            }
            @include media(m) {
                .bookingCalendar {
                    &__hdr {
                        &__date {
                            font-size: 1.5rem;
                            text-align: center;
                            position: relative;
                            top: inherit;
                            left: inherit;
                            padding: 0 20px;
                        }
                        &__btn {
                            padding-top: 0;
                        }
                    }
                }
                .bookingForm {
                    &__main__form__item {
                        flex-direction: row;
                        padding: 30px 20px;
                        &__label {
                            width: 140px;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
        .inContent__closeBtn {
            position: fixed;
            top: 100px;
            right: 10%;
            display: none;
            width: 31px; /*枠の大きさ*/
            height: 31px; /*枠の大きさ*/
            background: #ccc;
            @include z(closeBtn);
            &.active {
                display: block;
            }
            span {
                position: relative;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.6rem;
                font-weight: bold;
            }
        }
        &__modalProfile {
            @include z(modal);
            position: fixed;
            top: 100px;
            overflow: scroll;
            left: 50%;
            transform: translate(-50%, 0);
            height: calc(100vh - 150px);
            background: #fcfcfc;
            width: 80%;
            box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
            display: none;
            opacity: 0;
            @include media(m) {
                width: 70%;
            }
            &.active {
                display: block;
                animation: modalFadeIn 0.5s ease-in forwards;
            }
            @keyframes modalFadeIn {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            &--ttl {
                background: #fff;
                align-items: center;
                padding: 18px;
                margin-bottom: 26px;
                box-shadow: 0px 1px 2px #00000029;
                h3 {
                    color: #1f1f1f;
                    font-size: 1.2rem;
                    padding: 0;
                    width: auto;
                }
            }
            &--mes {
                background: #fff;
                align-items: center;
                padding: 18px;
                margin-bottom: 26px;
                box-shadow: 0px 1px 2px #00000029;
                p {
                    font-size: 0.95rem;
                    line-height: 1.6;
                }
            }
            &--list {
                background: #fff;
                padding: 18px 6px;
                box-shadow: 0px 1px 2px #00000029;
                margin-bottom: 30px;
                @include media(m) {
                    padding: 18px;
                }
                .msg {
                    width: 90%;
                    margin: 12px auto 34px auto;
                    font-size: 1.2rem;
                }
                .set-item {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;
                    p {
                        font-size: 1.05rem;
                        &:nth-child(2) {
                            color: #484848;
                        }
                    }
                    .imgbox {
                        img {
                            width: 100%;
                        }
                    }
                    .linkbox {
                        a {
                            width: 100%;
                            box-sizing: border-box;
                            color: $main_color;
                            border: 1px solid $main_color;
                        }
                    }
                }
            }
        }
        .block {
            &__text {
                width: 90%;
                margin: auto;
                p {
                    font-size: 1.25rem;
                    margin-bottom: 10px;
                    font-weight: bold;
                }
            }
            &__ttl {
                p {
                    font-size: 1.4rem;
                    text-align: center;
                    img {
                        width: 280px;
                        max-width: 100%;
                    }
                }
            }
            .checkbox__list {
                width: 90%;
                margin: auto auto 34px auto;
                &--ttl {
                    font-size: 1.2rem;
                    margin-bottom: 10 px;
                }
                .checkbox {
                    text-align: left;
                    margin: auto;
                    label {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    // loading
    .js_loadingBtn {
        &.el_hidden {
            pointer-events: none;
            opacity: 0.3;
            background-color: #666;
        }
    }
    .bl_loading {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0, 0, 0, 0.6);
    }
    .bl_loading_txt {
        position: absolute;
        width: 100%;
        margin-top: 35vh;
        text-align: center;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .bl_loading_txt_cap {
        display: block;
        font-size: 1rem;
        font-weight: 400;
    }
    .bl_loading_spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bl_loading_spinner_inner {
        width: 80px;
        height: 80px;
        border: 4px #ddd solid;
        border-top: 4px #999 solid;
        border-radius: 50%;
        animation: spinnerAnim 0.8s infinite linear;
    }
    @keyframes spinnerAnim {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }
    .modal-area-inner {
        padding: 10px;
        box-sizing: border-box;
        position: relative;
    }
    .modal-area-inner .hide {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 12px;
        cursor: pointer;
        display: flex;
        color: #333;
        align-items: center;
        background: #ddd;
        border-radius: 30px;
        padding: 0.5em 1em 0.5em 0.4em;
    }
    .modal-area-inner {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .v--modal {
        opacity: 0.95;
    }
    .demand__cart__btnCol {
        margin: 0 auto;
        width: 100%;
    }
    .demand__cart__btnCol a {
        align-content: center;
        display: flex;
        justify-content: center;
        background: #fd5d00;
        margin-bottom: 10px;
        width: calc(100% - 32px);
        transition: 0.3s;
    }
    .demand__cart__btnCol a:hover {
        opacity: 1;
        background: #b44b00;
        border-color: #b44b00;
    }
    .modal-area-inner-content {
        h2 {
            text-align: center;
        }
    }
    .modal-area-inner-content-link {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        .modal-area-inner-content-link-img {
            width: 200px;
        }
    }
    .demand__cart__btnCol {
        margin-top: 10px;
        margin-bottom: 20px;
        a.mark04 {
            color: #fff;
        }
    }
    .modal-area-inner-content-text {
        a.mark04 {
            color: #1366bd;
            background: unset;
            padding: 0.1em;
            border-bottom: solid 1px;
            border-radius: unset;
            font-weight: 600;
            transition: 0.3s;
        }
    }
}
