#consultation.content {
    .inContent {
        width: 96%;
        &__sec1 {
            margin-bottom: 20px;
            padding: 8px 24px;
        }
        &__sec2 {
            margin-bottom: 100px;
            padding: 8px 24px;
        }
        &__sec3 {
            background: #fff;
            margin-bottom: 26px;
            padding: 0 24px;
            &--ttl {
                margin-bottom: 20px;
                h3 {
                    font-size: 1.3rem;
                }
            }
            &--text {
                margin-bottom: 30px;
                p {
                    font-size: 1.1rem;
                }
            }

            &--link {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: 0 auto 30px auto;
                .imgbox {
                    width: 20%;
                    margin: 0 auto 10px auto;
                    @include media(m) {
                        width: 8%;
                    }
                    img {
                        width: 100%;
                    }
                }
                .linkbox {
                    width: 100%;
                    margin-bottom: 10px;
                    @include media(m) {
                        width: 42%;
                        margin: auto;
                    }
                    a {
                        display: block;
                        padding: 16px 28px;
                        font-size: 0.9rem;
                        border: 1px solid $orange;
                        color: $orange;
                        @include media(m) {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
        &__sec4 {
            margin-bottom: 60px;
            padding: 0px 24px;
        }
        &-inner {
            margin-top: 30px;
            padding: 20px;
            background: #fff;
            @include media(m) {
                margin-top: 50px;
                padding: 35px;
            }
            @include media(l) {
                padding: 50px;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            &__heading {
                padding-left: 60px;
                position: relative;
                @include media(m) {
                    padding-left: 80px;
                }
                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-size: 55px;
                    line-height: 55px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include media(m) {
                        font-size: 75px;
                        line-height: 75px;
                    }
                }
                &--apply:before {
                    content: "\f15c";
                }
                &--consul:before {
                    content: "\f007";
                }
                h3 {
                    font-size: 1.3rem;
                    line-height: 1.4;
                    margin-bottom: 5px;
                    @include media(m) {
                        font-size: 1.6rem;
                    }
                    a {
                        font-size: 0.75rem;
                        display: block;
                        @include media(m) {
                            font-size: 0.85rem;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 20px;
                        }
                        span {
                            display: inline-block;
                            position: relative;
                            padding-right: 10px;
                            &:after {
                                content: "";
                                width: 4px;
                                height: 4px;
                                margin-top: -4px;
                                border-top: 2px solid $main_color;
                                border-right: 2px solid $main_color;
                                transform: rotate(45deg);
                                position: absolute;
                                top: 50%;
                                right: 0;
                            }
                        }
                    }
                }
                p {
                    font-size: 0.95rem;
                    @include media(m) {
                        font-size: 1rem;
                    }
                }
            }
            &__nav {
                margin-top: 40px;
                display: flex;
                @include media(m) {
                    max-width: 800px;
                    margin: 50px auto 0;
                    align-items: center;
                }
                .nav-consultation-icon {
                    width: 70px;
                    margin-right: 15px;
                    @include media(m) {
                    }
                }
                .nav-consultation-list {
                    flex: 1;
                    li {
                        font-size: 1rem;
                        @include media(m) {
                            display: inline-block;
                            font-size: 1.1rem;
                            margin-left: 30px;
                            padding: 5px 0;
                        }
                        + li {
                            margin-top: 5px;
                        }
                        a {
                            text-decoration: underline;
                            @include media(m) {
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            &__col {
                margin-top: 30px;
                @include media(m) {
                    margin-top: 50px;
                    display: flex;
                    align-items: center;
                }
                + div {
                    margin-top: 60px;
                    @include media(m) {
                        margin-top: 70px;
                    }
                }
                .col-consultation-block {
                    @include media(m) {
                        flex: 1;
                        align-items: center;
                    }
                    p {
                        font-size: 1rem;
                    }
                    .consul-list {
                        display: flex;
                        &__img {
                            width: 70px;
                            margin-right: 20px;
                            @include media(m) {
                                width: 150px;
                            }
                        }
                        &__block {
                            flex: 1;
                            h4 {
                                font-size: 1.3rem;
                            }
                            h5 {
                                font-size: 1rem;
                                margin: 5px 0 10px;
                            }
                            p {
                                font-size: 0.95rem;
                            }
                        }
                    }
                    .consul-tag {
                        color: $main_color;
                        margin-top: 10px;
                        @include media(m) {
                            a:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .col-consultation-btn {
                    width: 90%;
                    margin: 20px auto 0;
                    @include media(m) {
                        width: 250px;
                        margin: 0 0 0 40px;
                    }
                    a {
                        font-size: 1rem;
                        color: #fff;
                        text-align: center;
                        padding: 10px;
                        background: $orange;
                        border: 1px solid $orange;
                        display: block;
                        border-radius: 50px;
                        transition: background-color .3s ease;
                        @include media(m) {
                            &:hover {
                                color: $orange;
                                background: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .consultation-heading {
        font-size: 1.5rem;
        @include media(m) {
            font-size: 1.7rem;
            text-align: center;
        }
        br {
            display: none;
            @include media(m) {
                display: block;
            }
        }
        span {
            font-size: 1.2rem;
        }
    }
    .modal-area-inner {
        padding: 10px;
        box-sizing: border-box;
        position: relative;
    }
    .modal-area-inner .hide {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 12px;
        cursor: pointer;
        display: flex;
        color: #333;
        align-items: center;
        background: #ddd;
        border-radius: 30px;
        padding: 0.5em 1em 0.5em 0.4em;
    }
    .modal-area-inner {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .v--modal {
        opacity: 0.95;
    }
    .demand__cart__btnCol {
        margin: 0 auto;
        width: 100%;
    }
    .demand__cart__btnCol a {
        align-content: center;
        display: flex;
        justify-content: center;
        background: #fd5d00;
        margin-bottom: 10px;
        width: calc(100% - 32px);
        transition: 0.3s;
    }
    .demand__cart__btnCol a:hover {
        opacity: 1;
        background: #b44b00;
        border-color: #b44b00;
    }
    .modal-area-inner-content {
        h2 {
            text-align: center;
        }
    }
    .modal-area-inner-content-link {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        .modal-area-inner-content-link-img {
            width: 200px;
        }
    }
    .demand__cart__btnCol {
        margin-top: 10px;
        margin-bottom: 20px;
        a.mark04 {
            color: #fff;
        }
    }
    .modal-area-inner-content-text {
        a.mark04 {
            color: #1366bd;
            background: unset;
            padding: 0.1em;
            border-bottom: solid 1px;
            border-radius: unset;
            font-weight: 600;
            transition: 0.3s;
        }
    }
}
