#diagnose_online_detail.content {
    .inContent {
        width: 94%;
        margin: 0 auto 100px auto;
        &__sec1 {
            margin-bottom: 40px;
            &--ttl {
                background: #fff;
                align-items: center;
                padding: 14px;
                margin-bottom: 24px;
                p {
                    // @include font_andale;
                    font-size: 1.4rem;
                    width: 100%;
                    font-weight: normal;
                    color: #000;
                }
            }
            .block {
                margin-bottom: 40px;
                padding-bottom: 40px;
                border-bottom: $color_border_light 1px solid;
                @include media(s) {
                    margin-left: 15px;
                    margin-right: 15px;
                }
                &__ttl {
                    margin-bottom: 24px;
                    h3 {
                        font-size: 1.3rem;
                        line-height: 1.5;
                        letter-spacing: 0.08em;
                        background-color: $color_bg_light;
                        padding: 10px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        @include media(s) {
                            padding: 15px 30px;
                        }
                        .bl_ttl_icon {
                            display: block;
                            width: 32px;
                            height: 32px;
                            margin-right: 5px;
                        }
                        .bl_ttl_txt {
                            flex: 1;
                            display: block;
                        }
                    }
                }
                &__innnerWrap {
                    padding: 0 10px;
                    @include media(s) {
                        padding: 0 30px;
                    }
                }
                &__text {
                    p {
                        font-size: 1rem;
                        line-height: 1.7;
                    }
                }
                &__link {
                    margin-top: 32px;
                    a {
                        margin: 0 auto;
                        max-width: 240px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 1;
                        color: #fff;
                        background-color: $main_color;
                        min-height: 60px;
                        padding: 15px 20px;
                        border-radius: 999px;
                        box-sizing: border-box;
                        transition: opacity 0.3s ease;
                        .bl_icon {
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            vertical-align: middle;
                            margin-left: 10px;
                        }
                    }
                }
                &__img {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin-top: 24px;
                    .imgbox {
                        width: 100%;
                        line-height: 1;
                        overflow: hidden;
                        border-radius: 10px;
                        box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.1);
                        &:nth-child(2) {
                            margin-top: 10px;
                        }
                        @include media(s) {
                            width: 47.97979798%;
                            &:nth-child(2) {
                                margin-top: 0;
                                margin-left: 4.04040404%;
                            }
                        }
                        img {
                            display: inline-block;
                            width: 100%;
                            height: auto;
                            box-sizing: border-box;
                        }
                    }
                }
                .jsearch_window {
                    .block__img {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: flex-start;
                        .block__img--imgbox {
                            padding: 8px;
                            width: 100%;
                            @include media(m) {
                                width: 45%;
                            }
                            img {
                                width: 100%;
                                object-fit: contain;
                                height: auto;
                                @include media(m) {
                                    height: 340px;
                                }
                            }
                        }
                    }
                    #jsearch-window {
                        .mt-site-search-form {
                            width: 100% !important;
                            max-width: 700px;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 24px 0 32px 0 !important;
                        }
                        .mt-site-search-form__query {
                            -webkit-appearance: none;
                            display: inline-block;
                            box-sizing: border-box;
                            outline: none;
                            border-right: none;
                            background: #fff;
                            border: 1px solid #e8f0fe !important;
                            height: 60px !important;
                            width: 100% !important;
                            max-width: 400px;
                            flex: 1;
                            padding: 15.4px 15px !important;
                            margin-bottom: 0 !important;
                            vertical-align: middle;
                            border-radius: 10px 0 0 10px !important;
                            font-size: 16px !important;
                            border-right: none !important;
                        }
                        select {
                            height: 60px !important;
                            color: #757575;
                            border: none !important;
                            border-right: unset !important;
                            text-align: center;
                            font-weight: 700;
                        }
                        .submitbox {
                            input {
                                background: #2662b6 !important;
                                width: 120px !important;
                                height: 60px !important;
                                font-size: 16px !important;
                                border-radius: 0 10px 10px 0 !important;
                                font-weight: 700;
                                transition: background-color 0.3s ease;
                                -webkit-appearance: none;
                                display: inline-block;
                                padding: 0 10px;
                                color: #fff;
                                vertical-align: top;
                                border: none;
                                &:hover {
                                    background: #5d8cd2 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
