#document.content {
  .inContent {
    &__document {
      ul {
        li {
          position: relative;
          .stamp_box {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            width: 100%;
            span {
              display: block;
              width: calc(20% - 10px);
              margin: 0 5px;
              z-index:5;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .search__form {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .cardCategory {
      display: flex;
      flex-wrap: wrap;
      span {
        margin-right: 20px;
      }
    }
  }
}
