#movie.content {
    .inContent {
        &__movie {
            ul {
                li {
                    position: relative;
                    .stamp_box {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: flex-end;
                        align-items: center;
                        position: absolute;
                        width: 100%;
                        span {
                            display: block;
                            width: calc(20% - 10px);
                            margin: 0 5px;
                            z-index: 5;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .search__form {
            display: flex;
            align-items: center;    
            margin-bottom: 10px;
        }
        .cardCategory {
            display: flex;
            flex-wrap: wrap;
            span {
                margin-right: 20px;
            }
        }
    }
}
#overlay {
    @include z(overlay);
    @extend %overlay;
}
.modalNewsFirst.el_movie {
    max-width: 600px;
}
.con_movie {
    background-color: white;
    border-radius: 15px;
    max-width: 600px;
    min-height: 400px;
    &_bg {
        padding: 15px 20px;
        height: 100%;
        text-align: center;
    }
    p {
        font-size: 1.4rem;
        font-weight: 600;
    }
    a {
        .logo {
            width: 20%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
        }
    }
    &_thumb {
        display: flex;
        justify-content: space-around;
        height: calc(100% - 7rem);
    }
}
