#new_list {
    * {
        box-sizing: border-box;
    }
    pre {
        white-space: pre-wrap;
        font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
            YuGothic, "Yu Gothic", sans-serif;
    }
    .flash_message {
        width: 100%;
        max-width: 960px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        color: #fff;
        background: rgba(253, 107, 0, 0.9);
        z-index: 999;
        text-align: center;
        padding: 20px 30px;
        font-size: 1.1rem;
        font-weight: bold;
        animation: slideIn 0.6s ease-out forwards;
        &.el_done {
            animation: slideOut 0.6s ease-out forwards;
        }
    }
    .inContent.el_small {
        max-width: 960px;
    }
    .inContent {
        .el_list {
            &_link {
                display: block;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
                padding: 20px;
                position: relative;
                background-color: #fff;
                &:nth-child(n + 2) {
                    margin-top: 15px;
                }
            }
            &_item {
                @include media(m) {
                    display: flex;
                }
                &_thumb {
                    width: 210px;
                    line-height: 1;
                    margin-left: auto;
                    margin-right: auto;
                    @include media(m) {
                        margin-left: inherit;
                        margin-right: inherit;
                    }
                    img {
                        width: 100%;
                        object-fit: cover;
                        border: solid 1px #f1f1f1;
                        height: 210px;
                    }
                }
                &_desc {
                    flex: 1;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    @include media(m) {
                        margin-top: 0;
                        margin-left: 20px;
                    }
                    &_overview,
                    &_more {
                        display: flex;
                    }

                    &_info {
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                        border-bottom: solid 1px #dddddd;
                        p {
                            font-size: 1.4rem;
                            line-height: 1.5;
                            color: #0058ab;
                            font-weight: bold;
                        }
                        span {
                            display: inline-block;
                            font-size: 1.1rem;
                            color: #5da1e1;
                        }
                        @include media(m) {
                            display: flex;
                            align-items: center;
                            span {
                                margin-left: 10px;
                            }
                        }
                    }
                    &_overview {
                        padding-bottom: 10px;
                        p {
                            word-wrap: break-word;
                            color: #000;
                        }
                    }
                    &_more {
                        font-size: 0.9rem;
                        margin-top: auto;
                        display: flex;
                        color: #666;
                        justify-content: space-between;
                    }
                }
            }
        }

        .hearing-sheet {
            padding: 40px 100px;
            &-thumb {
                height: 400px;
                border: 1px solid #cfcfcf;
                margin: 15px 0;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .hearing-sheet-param {
                margin-top: 20px;
                p {
                    font-weight: bold;
                }
            }

            ul > li {
                margin-left: 40px;
                list-style-type: circle;
            }
            ul.why_child > li {
                margin-left: 40px;
                list-style-type: square;
            }
            ul.why_child > span {
                margin-left: 40px;
            }
        }
        .hearing-sheet-param-when {
            font-weight: bold;
            margin: 15px 0px;
            border-top: 1px solid;
            padding-top: 10px;
        }
    }
    .modalContact {
        position: fixed;
        max-width: 736px;
        width: 90vw;
        max-height: 90vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 22px;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
        @include z(modal);
        transition: all 0.2s ease;
        visibility: hidden;
        opacity: 0;
        background: #fff;
        padding: 25px;
        textarea {
            max-height: 200px;
        }
        input {
            min-height: 48px;
            margin-bottom: 15px;
        }
        &.active {
            visibility: visible;
            opacity: 1;
        }
        .modalContact_inner {
            overflow-y: scroll;
            height: 100%;
            max-height: calc(90vh - 50px);
        }
        .modalContact_ttl {
            height: 50px;
            font-weight: bold;
            span {
                font-weight: normal;
            }
        }
        .modalContact_form {
            display: flex;
            flex-direction: column;
            &_lable {
                margin-bottom: 10px;
                font-weight: bold;
            }
            &_msg {
                border: 1px solid #dadada;
                padding: 5px 10px;
            }
            &_input {
                border: 1px solid #dadada;
                padding: 5px 10px;
            }
            &_btn {
                text-align: center;
                margin-top: 30px !important;
                background: #ff9600;
                color: #fff;
                padding: 8px 15px;
                border-radius: 50px;
                font-size: 0.9rem;
                transition: 0.2s;
                letter-spacing: 0.2em;
                font-weight: 600;
                margin: 0 auto;
                width: 30%;
            }
        }
        .modalNewsFirst__close {
            position: absolute;
            top: -10px;
            right: -10px;
            z-index: 5;
            @include media(m) {
                top: -20px;
                right: -20px;
            }
            button {
                display: block;
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #000;
                opacity: 0.7;
                @include media(m) {
                    width: 50px;
                    height: 50px;
                }
            }

            button::before,
            button::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2px;
                height: 15px;
                background: #fff;
                @include media(m) {
                    height: 20px;
                }
            }

            button::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            button::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}

.bl_newbusiness_tab {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 40px;
}
.bl_newbusiness_tab_list {
    display: flex;
}
.bl_newbusiness_tab_list_item {
    width: 48.4375%;
    & + & {
        margin-left: 3.125%;
    }
}
.bl_newbusiness_tab_list_item_link {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: #ff9600;
    border: 1px solid #ff9600;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    padding: 14px 30px;
    line-height: 1.2;
    transition: all 0.3s ease-out;
    transition-property: color, background-color;
    &:visited {
        color: #ff9600;
    }
    &:hover {
        color: #fff;
        background: #ff9600;
        opacity: 1;
    }
}
.bl_newbusiness_mylist_item {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
    padding: 20px;
    & + & {
        margin-top: 15px;
    }
}
.bl_newbusiness_mylist_item_main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.bl_newbusiness_mylist_item_main_ttl {
    margin-bottom: 20px;
}
.bl_newbusiness_mylist_item_main_ttl_txt {
    font-size: 18px;
    font-weight: 700;
}
.bl_newbusiness_mylist_item_main_ttl_status {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background-color: #ff9600;
    padding: 5px 10px;
    margin-bottom: 10px;
    min-width: 80px;
    &.el_open {
        background-color: #ff9600;
    }
    &.el_requesting {
        background-color: #0160bc;
    }
}
.bl_newbusiness_mylist_item_main_btnCol {
    display: flex;
    align-items: center;
}
.bl_newbusiness_mylist_item_main_btnCol_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff9600;
    border: 1px solid #ff9600;
    min-height: 40px;
    border-radius: 20px;
    min-width: 100px;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    text-align: center;
    line-height: 1;
    transition: all 0.2s ease;
    transition-property: color, background-color;
    &:visited {
        color: #ff9600;
    }
    &:hover {
        color: #fff;
        background-color: #ff9600;
        opacity: 1;
    }
    &.el_delete {
        color: #0160bc;
        border: 1px solid #0160bc;
        &:visited {
            color: #0160bc;
        }
        &:hover {
            color: #fff;
            background-color: #0160bc;
            opacity: 1;
        }
    }
    &.el_copy {
        color: #808080;
        border: 1px solid #808080;
        &:visited {
            color: #808080;
        }
        &:hover {
            color: #fff;
            background-color: #808080;
            opacity: 1;
        }
    }
    & + & {
        margin-left: 10px;
    }
}

.bl_hearingSheet_ttl {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.bl_hearingSheet_content_col_detail_when {
    color: #666;
    margin-bottom: 15px;
    font-size: 0.9rem;
}
.bl_hearingSheet_content {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
    padding: 30px;
}
.bl_hearingSheet_content_detail_ttl {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 10px;
}
.bl_hearingSheet_content_col_detail_overview {
    font-size: 1.1rem;
}
.bl_hearingSheet_content_col_thumb {
    margin-top: 20px;
    font-size: 0;
    width: 100%;
    img {
        font-size: 0;
        width: 100%;
        border: solid 1px #f1f1f1;
    }
}
.bl_hearingSheet_content_detail_desc {
    margin-bottom: 10px;
    span {
        display: inline-block;
        color: #5da1e1;
        font-size: 0.8rem;
        line-height: 1;
        border: #5da1e1 1px solid;
        padding: 5px 10px;
    }
    span + span {
        margin-left: 10px;
    }
}
.bl_hearingSheet_content_section {
    margin-top: 50px;
}
.bl_hearingSheet_content_section_ttl {
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: bold;
    border-top: #f0f5fc 2px solid;
    border-bottom: #f0f5fc 2px solid;
    padding: 10px 20px;
    margin-bottom: 25px;
    position: relative;
    &::before,
    &::after {
        content: "";
        width: 40px;
        height: 2px;
        background-color: #7ea2d7;
        position: absolute;
        left: 0;
        z-index: 2;
    }
    &::before {
        top: -2px;
    }
    &::after {
        bottom: -2px;
    }
    &.js_accordion_btn {
        margin-bottom: 0;
    }
}
.js_accordion_btn {
    cursor: pointer;
    span {
        display: block;
        position: relative;
        &::before,
        &::after {
            content: "";
            width: 18px;
            height: 2px;
            background-color: #0061bc;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            left: inherit;
            transform: translateY(-50%);
        }
        &::after {
            transform: translateY(-50%) rotate(90deg);
            transition: transform 0.3s ease;
        }
    }
    &.el_open {
        span {
            &::after {
                transform: translateY(-50%) rotate(0deg);
            }
        }
    }
}
.js_accordion_content {
    display: none;
    margin-top: 25px;
    .bl_hearingSheet_content_section_list_item_ttl {
        margin-top: 0;
    }
}
.bl_hearingSheet_detail_3w {
    margin-top: 40px;
    padding-top: 30px;
    border-top: #f0f5fc 2px solid;
}
.bl_hearingSheet_detail_3w_item {
    & + & {
        margin-top: 15px;
    }
}
.bl_hearingSheet_detail_3w_ttl {
    font-size: 1rem;
    font-weight: bold;
    color: #0058ab;
    margin-bottom: 5px;
}
.bl_hearingSheet_detail_3w_who_link {
    text-decoration: underline;
    color: #0061bc;
}
.bl_hearingSheet_detail_3w_where_pref {
    display: inline-block;
}
.bl_hearingSheet_detail_3w_where_munici {
    display: inline-block;
    margin-left: 10px;
}
.bl_hearingSheet_detail_3w_when_from {
    display: inline-block;
    margin-left: 10px;
}
.bl_hearingSheet_detail_3w_contact {
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    background-color: #2662b6;
    padding: 15px 20px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.1rem;
    width: 100%;
    max-width: 256px;
    min-height: 50px;
    margin: 40px auto 0;

    transition: background-color 0.3s ease;
    &:hover {
        background-color: #5d8cd2;
    }
}
.bl_hearingSheet_content_subCont {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.bl_hearingSheet_content_subCont_item {
    width: 31.25%;
    padding: 30px;
    border-radius: 6px;
    border: #dfe2e8 1px solid;
    & + & {
        margin-left: 3.125%;
    }
    &:nth-child(3n + 1) {
        margin-left: 0;
    }
    &:nth-child(n + 4) {
        margin-top: 3.125%;
    }
}
.bl_hearingSheet_content_subCont_item_ttl {
    font-size: 0.9rem;
    font-weight: bold;
}
.bl_hearingSheet_content_subCont_item_txt {
    font-size: 0.9rem;
    margin-top: 10px;
}
.bl_hearingSheet_content_subCont_item_linkWrap {
    margin-top: 20px;
    text-align: center;
}
.bl_hearingSheet_content_subCont_item_linkWrap_txt {
    text-align: center;
    span {
        font-size: 0.8rem;
        line-height: 1;
        color: #666;
        display: inline-block;
        padding: 0 10px;
        position: relative;
        &::before,
        &:after {
            content: "";
            width: 1px;
            height: 100%;
            background-color: #666;
            position: absolute;
            top: 50%;
        }
        &::before {
            left: 0;
            transform: translateY(-50%) rotate(-30deg);
        }
        &::after {
            right: 0;
            transform: translateY(-50%) rotate(30deg);
        }
    }
}
.bl_hearingSheet_content_subCont_item_linkWrap_link {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000;
    text-decoration: underline;
}

.bl_hearingSheet_content_section_list_item {
    & + & {
        margin-top: 25px;
    }
}
.bl_hearingSheet_content_section_list_item_ttl {
    display: block;
    color: #5da1e1;
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 1em;
}
.bl_hearingSheet_content_section_listSub_item {
    & + & {
        margin-top: 15px;
    }
}
.bl_hearingSheet_content_section_listSub_item_ttl {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
    &::before {
        content: "";
        width: 15px;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}
.bl_hearingSheet_content_section_listSub_item_txt {
    display: block;
    background-color: #f4f4f4;
    border-radius: 6px;
    padding: 15px 20px;
}
.bl_hearingSheet_colWrap {
    max-width: 1200px;
}
.bl_hearingSheet_col {
    display: flex;
    .bl_hearingSheet_content {
        box-shadow: none;
        padding: 0;
        background: none;
        flex: 1;
    }
}
.bl_hearingSheet_col_side {
    width: 360px;
    margin-left: 60px;
    .bl_hearingSheet_detail_3w {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
        padding: 30px;
        border-radius: 6px;
        border: #dfe2e8 1px solid;
    }
}
.bl_hearingSheet_col_side_subCont_item {
    padding: 30px;
    border-radius: 6px;
    border: #dfe2e8 1px solid;
    margin-top: 40px;
}

.bl_hearingSheet02_intro_wrap {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    * {
        box-sizing: border-box;
    }
}
.bl_hearingSheet02_intro {
    margin-top: 40px;
}
.bl_hearingSheet02_intro_ttl {
    display: flex;
}
.bl_hearingSheet02_intro_ttl_icon {
    display: block;
    line-height: 1;
    margin-right: 10px;
    img {
        display: block;
        width: 40px;
        height: auto;
    }
}
.bl_hearingSheet02_intro_ttl_txt {
    display: block;
    line-height: 1.4;
    font-size: 27px;
    .el_newline {
        display: inline-block;
    }
}
.bl_hearingSheet02_intro_txt {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.75;
    .el_strong {
        font-weight: 700;
    }
    br {
        display: none;
    }
}

.bl_hearingSheet02_flow {
    margin-top: 70px;

    .bl_hearingSheet02_flow_item:hover {
        background-color: #fff6e6;
    }
}
.bl_hearingSheet02_flow_item {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 15px;
    position: relative;
    display: flex;
    align-items: center;
    & + & {
        margin-top: 40px;
    }
}
.hearing_item_selected {
    background-color: #fff6e6;
    border: 1px solid #ff9300;
}
.bl_hearingSheet02_flow_item_iconCheck {
    display: block;
    line-height: 1;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(-50%);
}
.bl_hearingSheet02_flow_item_img {
    width: 41.176470588%;
    margin-right: 4.411764706%;
}
.bl_hearingSheet02_flow_item_txt {
    flex: 1;
}
.bl_hearingSheet02_flow_item_txt_ttl {
    line-height: 1;
    img {
        display: block;
        height: 30px;
        width: auto;
    }
}
.bl_hearingSheet02_flow_item_txt_p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
}
.bl_hearingSheet02_form_wrap {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.bl_hearingSheet02_form_intro_txt {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 40px;

    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #ccc;
}
.bl_hearingSheet02_form_item {
    & + & {
        margin-top: 30px;
    }
}
.bl_hearingSheet02_form_item_inner {
    background-color: #f2fafd;
    border-radius: 10px;
    padding: 20px;
    .p_lable {
        margin-bottom: 0;
    }
}
.bl_hearingSheet02_form_item_ttl {
    font-size: 25px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 15px;
    .el_small {
        display: inline-block;
        font-size: 18px;
    }
}
.bl_hearingSheet02_form_item_col2_item {
    & + & {
        margin-top: 20px;
    }
}
.bl_hearingSheet02_form_item_inner_item {
    & + & {
        margin-top: 20px;
    }
    .bl_estimate_form_character {
        display: none;
        text-align: right;
    }
}

.bl_hearingSheet02_form_btnWrap {
    display: flex;
    align-items: center;
    margin: 30px auto 60px;
    max-width: 675px;
}
.bl_hearingSheet02_form_btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    border-radius: 22.5px;
    width: 100%;
    background-color: #ff9327;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    padding: 10px 20px;
    transition: background 0.3s ease;
    &:hover {
        background-color: $orangeHover;
    }
    &.el_draft {
        background-color: #ccc;
    }
    & + & {
        margin-left: 10px;
    }
}
.bl_hearingSheet_content_section_contacts {
    margin-top: 30px;
    background-color: #f4f4f4;
    border-radius: 6px;
    padding: 15px;
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: -20px;
        margin-top: -10px;
        li {
            margin-right: 20px;
            margin-top: 10px;
            a {
                font-size: 0.9rem;
                text-decoration: underline;
            }
            span {
                color: #0061bc;
            }
        }
    }
    &.el_bottom {
        margin-top: 60px;
    }
}

@include media(m) {
    .bl_newbusiness_mylist_item_main {
        flex-direction: row;
        align-items: center;
    }
    .bl_newbusiness_mylist_item_main_ttl {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .bl_hearingSheet_content_col_detail {
        display: flex;
    }
    .bl_hearingSheet_content_col_thumb {
        width: 31.77083%;
        margin-left: 3.125%;
        margin-top: 0;
    }
    .bl_hearingSheet_content_col_detail_overview {
        flex: 1;
    }

    .bl_hearingSheet02_intro_ttl {
        justify-content: center;
        align-items: center;
    }
    .bl_hearingSheet02_intro_ttl_txt {
        font-size: 40px;
    }
    .bl_hearingSheet02_intro_ttl_icon img {
        width: 50px;
    }
    .bl_hearingSheet02_intro_txt {
        margin-top: 25px;
        font-size: 17px;
        text-align: center;
        br {
            display: block;
        }
    }
    .bl_hearingSheet02_flow {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .bl_hearingSheet02_flow_item {
        flex-direction: column;
        width: 32.2265625%;
        padding: 30px;
        & + & {
            margin-top: 0;
            margin-left: 1.66015625%;
        }
        &:nth-child(4) {
            margin-left: 0;
        }
        &:nth-child(n + 4) {
            margin-top: 40px;
        }
    }
    .bl_hearingSheet02_flow_item_img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .bl_hearingSheet02_flow_item_txt_ttl {
        text-align: center;
        img {
            display: inline-block;
            height: 35px;
        }
    }
    .bl_hearingSheet02_flow_item_txt_p {
        font-size: 15px;
        margin-top: 15px;
        text-align: justify;
    }
    .bl_hearingSheet02_flow_item_iconCheck {
        width: 40px;
        height: 40px;
        left: 30px;
    }
    .bl_hearingSheet02_form_intro_txt {
        font-size: 17px;
        margin-bottom: 60px;
        margin-top: 60px;
        padding-top: 60px;
    }
    .bl_hearingSheet02_form_item {
        & + & {
            margin-top: 50px;
        }
    }
    .bl_hearingSheet02_form_item_inner {
        padding: 30px;
    }
    .bl_hearingSheet02_form_item_ttl {
        font-size: 30px;
        .el_small {
            font-size: 22px;
            margin-left: 5px;
        }
    }
    .bl_hearingSheet02_form_item_inner_item {
        & + & {
            margin-top: 40px;
        }
    }
    .bl_hearingSheet02_form_item_col2 {
        display: flex;
    }
    .bl_hearingSheet02_form_item_col2_item {
        width: 48.4375%;
        & + & {
            margin-top: 0;
            margin-left: 3.125%;
        }
        .input {
            select {
                width: 100%;
                background-color: #fff;
                padding: 10px;
                border: 1px solid #ccc;
            }
        }
    }
    .bl_hearingSheet02_form_item_inner_item_checkbox {
        display: flex;
        flex-wrap: wrap;
        .bl_estimate_form_checkboxWrap_item {
            width: 48.4375%;
            &:nth-child(2) {
                margin-top: 0;
            }
            &:nth-child(2n) {
                margin-left: 3.125%;
            }
        }
    }
    .bl_hearingSheet02_form_btnWrap {
        margin-top: 60px;
        margin-bottom: 120px;
    }
    .bl_hearingSheet02_form_btn {
        font-size: 20px;
        min-height: 70px;
        border-radius: 35px;
        & + & {
            margin-left: 3.125%;
        }
    }
}
.el_small_legend {
    font-size: 14px;
    font-weight: 100;
    display: block;
}
.preview_img {
    max-width: 740px;
}
.input textarea {
    height: 200px;
}
.el_alert {
    background: rgba(255, 150, 0, 0.3) !important;
    border: 1px solid rgba(255, 150, 0, 0.24) !important;
}

.chat-box {
    position: fixed;
    // bottom: 20px;
    bottom: calc(-72vh + 50px);
    right: 20px;
    width: 22%;
    height: 72vh;
    background-color: #f4f4f4;
    border-radius: 6px;

    &-header {
        background-color: #2662b6;
        color: white;
        border-radius: 6px 6px 0px 0px;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-right: 10px;
        }
        h3 {
            line-height: 50px;
            font-size: 16px;
        }
        .chat-box-arrow-down,
        .chat-box-arrow-up {
            position: relative;
            padding: 5px;
            height: 25;
            width: 25px;
            border-radius: 50%;
            transition: all 0.2s linear;
            margin-left: 5px;
        }

        .chat-box-arrow-down::after,
        .chat-box-arrow-up::after {
            content: "";
            position: absolute;
            left: 7px;
            z-index: 11;
            display: block;
            width: 10px;
            height: 10px;
            border-top: 2px solid #fff;
            border-left: 2px solid #fff;
        }
        .chat-box-arrow-up::after {
            top: 10px;
            transform: rotate(45deg);
        }

        .chat-box-arrow-down::after {
            top: 5px;
            transform: rotate(225deg);
        }
    }

    &-mess {
        overflow-y: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-height: calc(72vh - 160px);
        &-text {
            position: relative;
            background-color: white;
            width: 80%;
            border-radius: 8px;
            padding: 12px;
            margin-top: 20px;
            height: min-content;
        }
    }

    &-btn-div {
        position: absolute;
        bottom: 15px;
        width: 100%;
        text-align: center;
        font-size: 14px;
        &-copy {
            background-color: #2662b6;
            color: white;
            border-radius: 6px;
            padding: 5px 20px;
            width: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                margin-right: 5px;
            }
        }
        &-bottom {
            margin-top: 10px;

            span {
                display: inline-block;
                cursor: pointer;
                width: 45%;
                border-radius: 8px;
                padding: 5px 20px;
                border: 1px solid #000;
            }
            // .chat-box-btn-div-bottom-swot {
            //     margin-right: 7px;
            // }
        }
    }
}
.show {
    transform: translateY(calc(-72vh + 30px));
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}
.hide {
    transform: translateY(calc(-3vh + 30px));
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}
@media only screen and (max-width: 1000px) {
    .chat-box {
        position: fixed;
        // bottom: 20px;
        bottom: calc(-50vh + 50px);
        right: 20px;
        width: 50%;
        height: 50vh;
        background-color: #f4f4f4;
        border-radius: 6px;
        font-size: 10px;

        &-header {
            background-color: #2662b6;
            color: white;
            border-radius: 6px 6px 0px 0px;
            text-align: center;
            cursor: pointer;
            h3 {
                line-height: 50px;
            }
        }

        &-mess {
            overflow-y: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            max-height: calc(50vh - 160px);
            &-text {
                background-color: white;
                width: 80%;
                border-radius: 8px;
                padding: 12px;
                margin-top: 20px;
                height: min-content;
            }
        }

        &-btn-div {
            position: absolute;
            bottom: 15px;
            width: 100%;
            text-align: center;
            font-size: 10px;
            &-copy {
                background-color: #2662b6;
                color: white;
                border-radius: 6px;
                padding: 5px 20px;
                width: 50%;
            }
            &-bottom {
                margin-top: 10px;

                span {
                    width: 45%;
                    border-radius: 8px;
                    padding: 5px 20px;
                    border: 1px solid #000;
                }
                .chat-box-btn-div-bottom-swot {
                    margin-right: 7px;
                }
            }
        }
    }
    .show {
        transform: translateY(calc(-48vh + 30px));
        transition-duration: 0.8s;
        transition-timing-function: ease-in-out;
    }
    .hide {
        transform: translateY(calc(-3vh + 30px));
        transition-duration: 0.8s;
        transition-timing-function: ease-in-out;
    }
}
@media only screen and (max-width: 600px) {
    .chat-box {
        position: fixed;
        // bottom: 20px;
        bottom: calc(-73vh + 50px);
        right: 20px;
        width: 60%;
        height: 70vh;
        background-color: #f4f4f4;
        border-radius: 6px;
        font-size: 8px;
        &-header {
            background-color: #2662b6;
            color: white;
            border-radius: 6px 6px 0px 0px;
            text-align: center;
            cursor: pointer;
            h3 {
                line-height: 30px;
            }
        }

        &-mess {
            overflow-y: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            max-height: calc(50vh);
            &-text {
                background-color: white;
                width: 80%;
                border-radius: 8px;
                padding: 12px;
                margin-top: 20px;
                height: min-content;
            }
        }

        &-btn-div {
            position: absolute;
            bottom: 15px;
            width: 100%;
            text-align: center;
            font-size: 8px;
            &-copy {
                background-color: #2662b6;
                color: white;
                border-radius: 6px;
                padding: 5px 5px;
            }
            .chat-box-btn-div-copy {
                width: 50%;
            }
            &-bottom {
                margin-top: 10px;

                span {
                    width: 45%;
                    border-radius: 8px;
                    padding: 5px 3px;
                    border: 1px solid #000;
                }
                .chat-box-btn-div-bottom-swot {
                    margin-right: 3px;
                }
            }
        }
    }
    .show {
        transform: translateY(calc(-70vh + 30px));
        transition-duration: 0.8s;
        transition-timing-function: ease-in-out;
    }
    .hide {
        transform: translateY(calc(-5vh + 33px));
        transition-duration: 0.8s;
        transition-timing-function: ease-in-out;
    }
    #btn_ai_text_completion {
        font-size: 10px;
    }
}
.bl_estimate_form_label_btn_gpt {
    // background-color: #2662b6;
    color: #2662b6;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    img {
        width: 20%;
        margin-right: 5px;
    }
}
.swot {
    background-color: #2662b6;
    color: #fff;
    font-size: 0.8em;
    padding: 5px 6px;
    font-weight: 400;
    position: relative;
    top: 0.4em;
}
.chat-box-mess-text::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    bottom: -10px;
    left: 8px;
    border-style: solid;
    border-width: 8px;
    border-color: #fff transparent transparent #fff;
    transform: rotate(0deg);
}
.pop_up_for_plan {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 550px;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    font-weight: 800;
    img {
        width: 40%;
    }
    h4 {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 20px;
        color: rgba(60, 60, 60, 1);
    }
    .pop_up-danger {
        color: red;
    }
    .pop_up-login {
        margin-top: 20px;
        font-weight: 400;
        a {
            text-decoration: underline;
            font-weight: 600;
        }
    }
    .pop_up-close {
        display: flex;
        align-items: center;
        float: right;
        border-radius: 20px;
        background-color: #dcdcdc;
        color: #000;
        font-size: 14px;
        line-height: 1.7;
        padding: 5px 10px 5px 28px;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            height: 2px;
            left: 10px;
            position: absolute;
            top: 45%;
            transform: rotate(45deg);
            transform-origin: center center;
            width: 14px;
            background-color: #000;
        }
        &::after {
            transform: rotate(-45deg);
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
