#setting_mail.content {
    .inContent {
        width: 98%;
        margin: 0 auto 100px auto;
        @include max-width(m);
        .flash_message {
            width: 100%;
            max-width: 960px;
            position: fixed;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
            color: #fff;
            background: rgba(253, 107, 0, 0.9);
            z-index: 999;
            text-align: center;
            padding: 20px 30px;
            font-size: 1.1rem;
            font-weight: bold;
            animation: slideIn 0.6s ease-out forwards;
            &.el_done {
                animation: slideOut 0.6s ease-out forwards;
            }
        }
        &__sec1 {
            margin-bottom: 70px;

            &--ttl {
                background: #fff;
                align-items: center;
                padding: 18px;
                margin-bottom: 26px;
                box-shadow: 0px 1px 2px #00000029;
                border-left: 8px solid #2662b6;
                border-radius: 0.5rem;

                h3 {
                    color: #1f1f1f;
                    font-size: 1.2rem;
                    padding: 0;
                    width: auto;
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    .name__icon {
                        display: block;
                        width: 24px;
                        height: 24px;
                    }
                    .name__txt {
                        display: block;
                        margin-left: 8px;
                    }
                }

                .textbox {
                    width: 100%;
                    font-size: 1rem;
                }
            }

            &--mes {
                background: #fff;
                align-items: center;
                padding: 18px;
                margin-bottom: 26px;
                box-shadow: 0px 1px 2px #00000029;

                p {
                    font-size: 0.95rem;
                    line-height: 1.6;
                }
            }

            &--form {
                background: #fff;
                padding: 18px 6px;
                box-shadow: 0px 1px 2px #00000029;
                margin-bottom: 70px;

                @include media(m) {
                    padding: 18px;
                }
                .form__item {
                    margin-bottom: 50px;
                    .form__item--ttl {
                        margin-bottom: 16px;
                        p {
                            font-size: 1.4rem;
                            text-align: center;
                        }
                    }
                    .input_block {
                        width: 96%;
                        margin: 0 auto 12px auto;
                        .radio_box {
                            margin-bottom: 6px;
                            label {
                                font-size: 1.1rem;
                                position: relative;
                                padding-left: 30px;
                            }
                            input {
                                position: absolute;
                                opacity: 0;
                            }
                            input:checked + label::before {
                                background-color: #3ec2f1;
                                box-shadow: inset 0 0 0 4px #fff;
                            }
                            label::before {
                                content: "";
                                font-size: 0.9rem;
                                background: #fff;
                                background-color: rgb(255, 255, 255);
                                border-radius: 100%;
                                border: 1px solid #707070;
                                box-sizing: border-box;
                                display: inline-block;
                                width: 1.4em;
                                height: 1.4em;
                                position: absolute;
                                top: 50%;
                                left: 0%;
                                transform: translate(0%, -50%);
                                cursor: pointer;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
