$main_color: #0061bc;
$link_color: #0061bc;
$agent_color: #07559e;
$font_color_a: #262626;
$orange: #ff9600;
$red: #ff0000;

$color_bg_light: #dce5f7;
$color_border_light: #ededed;

$colorTxtPickup: #ffc107;
$orangeHover: #ffbb5c;

$store_color_main: #004f9a;
$store_color_accent: #ff7f00;
$store_color_gray01: #f8f8f8;
$store_color_gray02: #e5e5e5;
$store_color_gray03: #333333;
$store_color_border: #818181;
$store_color_border02: #ddd;
$store_color_txt: #000;

.red {
    color: #ff0000;
}
.white {
    color: #fff;
}
.orange {
    color: #ff9600;
}

.black {
    color: #000 !important;
}
