html {
    font-size: 16px;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    line-height: 1.7;
}
body {
    background: #fcfcfc;
    word-break: break-all;
}
a {
    text-decoration: none;
    color: $link_color;
}
a:hover,
a:focus {
    text-decoration: none;
    opacity: 0.7;
}
a:visited {
    color: $link_color;
}
a.dissabled {
    pointer-events: none;
}

p {
    word-wrap: break-word;
    color: #000;
}
