#agent_customer_manage_detail.content {
  .inContent {
    .sec1 {
      @include max-width(m);
      margin: auto;
      &--menu {
        background: transparent;
        p {
          text-align: center;
          width: 100%;
          font-size: 1rem;
          line-height: 1.4;
          @include media(s) {
            font-size: 1.4rem;
          }
          @include media(m) {
            font-size: 1.8rem;
          }
        }
      }
      &--ttl {
        h3 {
        }
      }
      &--list {
        background: #fff;
        .list-item {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          padding: 16px 0;
          border-bottom: 1px solid #ececec;
          p {
            font-size: 1rem;
            @include media(m){
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}
