#agent_customer_manage.content {
  .inContent {
    .sec2 {
      width: 90%;
      margin: auto;
      &--menu {
        background: transparent;
        p {
          text-align: center;
          width: 100%;
          font-size: 1rem;
          line-height: 1.4;
          @include media(s) {
            font-size: 1.4rem;
          }
          @include media(m) {
            font-size: 1.8rem;
          }
        }
      }
      .table {
        @include max-width(m);
        margin:auto;
        &__item {
          @include min-width(s);
          ul {

          }
        }
      }
      &--search {
        margin: 30px 0;
      }
    }
  }
}
