#agent_sales_manage_detail.content {
  .inContent {
    width: 94%;
    margin: 0 auto 100px auto;
    &__sec1 {
      margin: 0 auto 40px;
      @include max-width(m);
      &--ttl {
        // background: #fff;
        align-items: center;
        padding: 14px;
        margin-bottom: 24px;
        background: transparent;
        p {
          font-weight: bold;
          text-align: center;
          width: 100%;
          font-size: 1rem;
          line-height: 1.4;
          @include media(s) {
            font-size: 1.4rem;
          }
          @include media(m) {
            font-size: 1.8rem;
          }
        }
      }
      &--detail {
        background: #fff;
        padding:40px;
        .detail__head {
          border-bottom: 1px solid #eaeaea;
          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            padding: 12px 24px;
            li {
              margin-right: auto;
              margin-bottom: 14px;
              img {
                width: 28px;
                vertical-align: middle;
                margin-right: 20px;
              }
              span {
                &:nth-child(1) {
                  color: #000;
                  font-weight: bold;
                  margin-right: 30px;
                  font-size: 1.05rem;
                }
                &:nth-child(2) {
                  color: #838383;
                  text-align: center;
                font-size: 1.05rem;
                }
              }
            }
          }
        }
        .detail__text {
          padding-bottom: 30px;
          p {
            color: #3E3E3E;
            line-height: 1.8;
            font-size: 1.1rem;
            text-align: center;
          }
        }
        .mark04 {
          display: block;
          margin: auto;
          padding: 8px 24px;
          &:hover {
            opacity: .7;
          }
        }
        .detail__entry {
          form {
            text-align: center;
            input {
              background: $orange;
              color:#fff;
              font-size: 0.8rem;
              padding: 14px 30px;
              border-radius: 30px;
            }
            button {
              background: $orange;
              color:#fff;
              font-size: 0.8rem;
              padding: 14px 30px;
              border-radius: 30px;
            }
          }
        }
      }
    }
    &__sec2 {
      &--menu {
        background: #fff;
        align-items: center;
        padding: 14px;
        margin-bottom: 24px;
        p {
          font-size: 1.2rem;
          font-weight: bold;
          width:100%;
        }
      }
    }
  }
}
